<!DOCTYPE html>
<html lang="en">
<head>
    <title>add subscriber page</title>
    <meta http-equiv ="Content-Type" content = "text/html; charset=UTF-8">
    <meta name = "viewprot" content = "width = device-width, initial-scale =1" >
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head> 
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Add Subscriber</h3>
        </div>
        <section>
            <form class="form-horizontal" method="post" action="/addSub">
                <fieldset>
 
                    <!-- Form Name -->
                    <legend>Add Subscriber</legend>
 
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Subcriber Name</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputTitle" type="text" placeholder="Subscriber Name" class="form-control input-md">
                        </div>
                    </div>
 
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtPost">Topic</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtPost" name="inputDescription"></textarea>
                        </div>
                    </div>
 
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                        </div>
                    </div>
 
                </fieldset>
            </form>
 
        </section>
    </div>
</body>